src/generation_data1_onepoint.csv
src/generation_data1_twopoint.csv
src/generation_data2_onepoint.csv
src/generation_data2_twopoint.csv

src/generation_data1_uniform.csv
src/generation_data2_uniform.csv

src/READ_ME.TXT

src/output.csv

COSC_3P71_A2_Report.pdf

out/
